{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Permiso {{ permiso.nombre }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Permiso ' + permiso.nombre) %}
        {{ topbar.button_previous('Permisos', url_for('permisos.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=permiso.estatus) %}
        {% if current_user.can_view("ROLES") %}
            {{ detail.label_value('Rol', permiso.rol.nombre, url_for('roles.detail', rol_id=permiso.rol_id)) }}
        {% else %}
            {{ detail.label_value('Rol', permiso.rol.nombre) }}
        {% endif %}
        {% if current_user.can_view("MODULOS") %}
            {{ detail.label_value('Módulo', permiso.modulo.nombre, url_for('modulos.detail', modulo_id=permiso.modulo_id)) }}
        {% else %}
            {{ detail.label_value('Módulo', permiso.modulo.nombre) }}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
